@import url(./__container/popup__container.css);
@import url(./__close-icon/popup__close-icon.css);
@import url(./__field-job/popup__field-job.css);
@import url(./__field-name/popup__field-name.css);
@import url(./__field/popup__field.css);
@import url(./__is-opened/popup__is-opened.css);
@import url(./__title/popup__title.css);
@import url(./__submit-button/popup__submit-button.css);


.popup {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    max-width: 100%;
    max-height: 100%;
    background-color: rgba(0,0,0, 0.5);
    display: none;
    align-items: center;
    justify-content: center;
}

@media (max-width: 560px) {
    .popup {
      padding-right: 19px;
      padding-left: 19px;
    }
}